:root {
    --dark-blue: hsl(231, 27%, 15%);
    --yellow: #fecb00;
    --grey: #ebebeb;
    --text-color-right: #2d2d2d;
    --white: #ffffff;
    --title: #232537;
    --line: #393a4d;
}
    
.cv {
    font-family: Montserrat;
    margin: 0 20px;
}
.header {
    width: auto;
    display: flex;
    flex-wrap: wrap;
}
.header-photo {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 50px auto;
    position: relative;
}
.photo {
    display: flex;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid var(--yellow);
}
.title {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    border-left: 20px solid var(--yellow);
    margin-top: 100px;
}
.subtitle {
    font-size: 1.7em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    background-color: var(--yellow);
}
.main-block {
    width: auto;
    display: flex;
    flex-wrap: wrap;
}
.left-block {
    width: 40%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: var(--grey);
    background-color: var(--dark-blue);
}
.right-block {
    width: 60%;
    flex-direction: column;
    color: var(--text-color-right);
    background-color: var(--white);
}

.education-block {
    padding-bottom: 50px;
}
.summary-block {
    padding-bottom: 50px;
}

.left-block-title {
    background-color: #232537;
    padding-bottom: 15px;
    border-left: 15px solid var(--yellow);
    border-bottom: 10px solid var(--line);
}
.right-block-title {
    background-color: var(--grey);
    padding-bottom: 15px;
    border-left: 15px solid var(--yellow);
    border-bottom: 10px solid var(--line);
}

.border {
    margin-left: 10px;
}
.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-right: 15px;
}
.contacts-item-img {
    width: 40px;
    margin-right: 10px;
}

.content-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-right: 15px;
}
.lng-level {
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding-right: 15px;
    color: var(--yellow);
}
.photoCV {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 15px auto;
    position: relative;
}

.summary-content {
    margin-left: 30px;
}

.code-example {
    display: block;
    overflow-x: auto;
    padding-left: 10px;
}
.code-example-content {
    justify-content: center;
    display: block;
    margin-left: auto;
    padding-right: 5px;
} 

.footer {
    display: flex;
    justify-content: center;
    align-items: center
}
.footer-content {
    padding:10px;
}
.rss-icon {
    width: 100px;
}
.project-content {
    margin-left: 30px;
}

@media (max-width: 350px){  
    .container{
        max-width: 320px;
        padding: 0;
    }    
    .header{
    .display: flex;
    flex-wrap: wrap;
    }
    .left-block{
       width: 100%;
    }
    .right-block{
        width: 100%;
    }
}
@media (min-width: 576px){
    .container{
        margin: 15px auto;
        max-width: 540px;
        padding: 0;
    }       
}
@media (max-width: 768px){
    .container{
        max-width: 720px;
    }
    .title{
        margin-top: 20px;
    }
    .main-block{
        display: flex;
        flex-wrap: wrap;
    }
    .left-block{
        width: 100%;
    }
    .right-block{
        width: 100%;
    } 
    .footer{
        display: flex;
        align-items: center;
    }
    .footer-content{
        align-items: center;
    }
}

@media (min-width: 992px){
    .container{
        max-width: 960px;
    }       
}  
@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }   
}
@media (min-width: 1400px){
    .container{
        max-width: 1320px;
    }
}